= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :qty
    = f.number_field :qty
  .field
    = f.label :total
    = f.text_field :total
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :state
    = f.text_field :state
  .actions
    = f.submit 'Save'
